@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    font: 14px/1.2 Roboto, sans-serif;
    color: #fafafa;
    background: #303030;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fafafa;
    font-weight: 500;
    font-family: Roboto, sans-serif;
}

p {
    margin: 0 0 10px;
}

a {
    color: #7fc9ff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input[type=text],
textarea {
    font: 14px/1.2 Roboto, sans-serif;
    color: #fafafa;
    background: #333;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 0;
    min-height: 40px;
    width: 100%;

    &:focus {
        outline: none;
        border-color: #7fc9ff;
        box-shadow: none;
    }

    &.warn {
        border-color: #de0032;
    }
}

textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    min-height: 100px;
}

.text-primary {
    color: #1976d2;
}

.text-warn {
    color: #de0032;
}

.btn-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.btn {
    font: 14px/1.2 Roboto, sans-serif;
    color: #fafafa;
    text-transform: uppercase;
    background: #444;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 0;
    min-height: 40px;
    cursor: pointer;
    width: 100%;

    &:hover {
        background-color: #555;
        border-color: #444;
    }

    &:focus {
        outline: none;
    }
}

.btn-primary {
    background-color: #1976d2;
    border-color: #1976d2;

    &:hover {
        background-color: #0465c5;
        border-color: #1976d2;
    }
}

.btn-warn {
    background-color: #b90000;
    border-color: #9a0000;

    &:hover {
        background-color: #9a0000;
        border-color: #9a0000;
    }
}

.row {
    margin-bottom: 15px;
}